<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />

    <!-- Package Visibility Queries for Web Browsers & Music Players -->
    <queries>
        <!-- Web Browsers Query for loop-free fallback -->
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <category android:name="android.intent.category.BROWSABLE" />
            <data android:scheme="https" />
        </intent>
        <package android:name="com.google.android.apps.youtube.music" />
        <package android:name="com.apple.android.music" />
        <package android:name="com.spotify.music" />
        <package android:name="com.aspiro.tidal" />
        <package android:name="deezer.android.app" />
        <package android:name="com.amazon.mp3" />
    </queries>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SongFlip">

        <!-- Main Configuration UI Activity -->
        <activity
            android:name=".ui.MainActivity"
            android:exported="true"
            android:theme="@style/Theme.SongFlip">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Transparent Multi-Platform Link Interceptor Activity -->
        <activity
            android:name=".ui.RedirectActivity"
            android:exported="true"
            android:excludeFromRecents="true"
            android:noHistory="true"
            android:theme="@style/Theme.SongFlip.Transparent">

            <!-- Share Sheet Target (Share to SongFlip) -->
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>

            <!-- Spotify URL Interception -->
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="http" />
                <data android:scheme="https" />
                <data android:host="open.spotify.com" />
                <data android:host="spotify.link" />
            </intent-filter>

            <!-- Apple Music URL Interception -->
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="http" />
                <data android:scheme="https" />
                <data android:host="music.apple.com" />
                <data android:host="geo.music.apple.com" />
                <data android:host="itunes.apple.com" />
                <data android:host="itun.es" />
                <data android:host="apple.co" />
            </intent-filter>

            <!-- YouTube Music URL Interception -->
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="http" />
                <data android:scheme="https" />
                <data android:host="music.youtube.com" />
            </intent-filter>

            <!-- Tidal URL Interception -->
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="http" />
                <data android:scheme="https" />
                <data android:host="tidal.com" />
                <data android:host="listen.tidal.com" />
            </intent-filter>

            <!-- Deezer URL Interception -->
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="http" />
                <data android:scheme="https" />
                <data android:host="deezer.com" />
                <data android:host="www.deezer.com" />
                <data android:host="deezer.page.link" />
                <data android:host="link.deezer.com" />
            </intent-filter>

            <!-- Amazon Music URL Interception -->
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="http" />
                <data android:scheme="https" />
                <data android:host="music.amazon.com" />
                <data android:host="music.amazon.de" />
                <data android:host="music.amazon.co.uk" />
                <data android:host="music.amazon.fr" />
                <data android:host="music.amazon.it" />
                <data android:host="music.amazon.es" />
                <data android:host="amzn.to" />
                <data android:host="a.co" />
            </intent-filter>
        </activity>

        <!-- Quick Settings Tile Service -->
        <service
            android:name=".service.SongFlipTileService"
            android:exported="true"
            android:icon="@drawable/ic_qs_tile"
            android:label="@string/tile_name"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>

    </application>

</manifest>
