<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.android.vending.BILLING" />

    <!-- Package Visibility Queries for Web Browsers & Music Players -->
    <queries>
        <!-- Web Browsers Query for loop-free fallback -->
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <category android:name="android.intent.category.BROWSABLE" />
            <data android:scheme="https" />
        </intent>
        <!-- Package Visibility Intent Queries for Android 11+ Dynamic Detection -->
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <category android:name="android.intent.category.BROWSABLE" />
            <data android:scheme="https" android:host="music.youtube.com" />
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <category android:name="android.intent.category.BROWSABLE" />
            <data android:scheme="https" android:host="www.youtube.com" />
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <category android:name="android.intent.category.BROWSABLE" />
            <data android:scheme="https" android:host="youtube.com" />
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <category android:name="android.intent.category.BROWSABLE" />
            <data android:scheme="https" android:host="youtu.be" />
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="vnd.youtube.music" />
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="vnd.youtube" />
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <category android:name="android.intent.category.BROWSABLE" />
            <data android:scheme="https" android:host="open.spotify.com" />
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="spotify" />
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <category android:name="android.intent.category.BROWSABLE" />
            <data android:scheme="https" android:host="music.apple.com" />
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <category android:name="android.intent.category.BROWSABLE" />
            <data android:scheme="https" android:host="listen.tidal.com" />
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <category android:name="android.intent.category.BROWSABLE" />
            <data android:scheme="https" android:host="deezer.com" />
        </intent>
        <package android:name="app.morphe.android.apps.youtube.music" />
        <package android:name="app.morphe.android.youtube.music" />
        <package android:name="app.morphe.youtube.music" />
        <package android:name="app.morphe.music" />
        <package android:name="app.morphe.android.apps.youtube" />
        <package android:name="app.morphe.android.youtube" />
        <package android:name="com.morphe.android.apps.youtube.music" />
        <package android:name="com.morphe.android.youtube.music" />
        <package android:name="com.morphe.youtube.music" />
        <package android:name="app.revanced.android.apps.youtube.music" />
        <package android:name="app.revanced.android.youtube.music" />
        <package android:name="app.revanced.android.apps.youtube" />
        <package android:name="app.revanced.android.youtube" />
        <package android:name="app.rvx.android.apps.youtube.music" />
        <package android:name="app.rvx.android.youtube.music" />
        <package android:name="app.rvx.android.youtube" />
        <package android:name="anddea.youtube.music" />
        <package android:name="anddea.youtube" />
        <package android:name="app.anddea.youtube.music" />
        <package android:name="app.anddea.youtube" />
        <package android:name="app.anddea.android.youtube.music" />
        <package android:name="app.anddea.android.youtube" />
        <package android:name="com.anddea.youtube.music" />
        <package android:name="com.anddea.youtube" />
        <package android:name="com.vanced.android.apps.youtube.music" />
        <package android:name="com.vanced.android.youtube" />
        <package android:name="com.inotia00.youtube.music" />
        <package android:name="com.inotia00.youtube" />
        <package android:name="it.fast4x.rimusic" />
        <package android:name="it.vfsfitvnm.vimusic" />
        <package android:name="com.zionhuang.music" />
        <package android:name="org.schabi.newpipe" />
        <package android:name="org.schabi.newpipelegacy" />
        <package android:name="com.google.android.apps.youtube.music" />
        <package android:name="com.google.android.youtube" />
        <package android:name="com.apple.android.music" />
        <package android:name="com.spotify.music" />
        <package android:name="com.aspiro.tidal" />
        <package android:name="deezer.android.app" />
        <package android:name="com.amazon.mp3" />
        <package android:name="com.soundcloud.android" />
        <package android:name="com.bandcamp.android" />
    </queries>

    <application
        android:name=".SongFlipApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:localeConfig="@xml/locales_config"
        android:networkSecurityConfig="@xml/network_security_config"
        android:theme="@style/Theme.SongFlip">

        <!-- Main Configuration UI Activity -->
        <activity
            android:name=".ui.MainActivity"
            android:exported="true"
            android:theme="@style/Theme.SongFlip">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Transparent Multi-Platform Link Interceptor Activity -->
        <activity
            android:name=".ui.RedirectActivity"
            android:exported="true"
            android:excludeFromRecents="true"
            android:noHistory="true"
            android:theme="@style/Theme.SongFlip.Transparent">

            <!-- Share Sheet Target (Share to SongFlip) -->
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>

            <!-- Spotify URL Interception -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="http" />
                <data android:scheme="https" />
                <data android:host="open.spotify.com" />
                <data android:host="spotify.link" />
                <data android:host="spotify.app.link" />
                <data android:host="spoti.fi" />
            </intent-filter>

            <!-- Apple Music URL Interception -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="http" />
                <data android:scheme="https" />
                <data android:host="music.apple.com" />
                <data android:host="geo.music.apple.com" />
                <data android:host="itunes.apple.com" />
                <data android:host="itun.es" />
                <data android:host="apple.co" />
            </intent-filter>

            <!-- YouTube Music URL Interception -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="http" />
                <data android:scheme="https" />
                <data android:host="music.youtube.com" />
            </intent-filter>

            <!-- Tidal URL Interception -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="http" />
                <data android:scheme="https" />
                <data android:host="tidal.com" />
                <data android:host="www.tidal.com" />
                <data android:host="listen.tidal.com" />
                <data android:host="tidal.link" />
            </intent-filter>

            <!-- Deezer URL Interception -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="http" />
                <data android:scheme="https" />
                <data android:host="deezer.com" />
                <data android:host="www.deezer.com" />
                <data android:host="m.deezer.com" />
                <data android:host="deezer.page.link" />
                <data android:host="link.deezer.com" />
            </intent-filter>

            <!-- Amazon Music URL Interception -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="http" />
                <data android:scheme="https" />
                <data android:host="music.amazon.com" />
                <data android:host="music.amazon.ca" />
                <data android:host="music.amazon.de" />
                <data android:host="music.amazon.co.uk" />
                <data android:host="music.amazon.fr" />
                <data android:host="music.amazon.it" />
                <data android:host="music.amazon.es" />
                <data android:host="music.amazon.co.jp" />
                <data android:host="music.amazon.com.au" />
                <data android:host="music.amazon.nz" />
                <data android:host="music.amazon.in" />
                <data android:host="music.amazon.com.br" />
                <data android:host="music.amazon.com.mx" />
                <data android:host="music.amazon.ae" />
                <data android:host="music.amazon.sa" />
                <data android:host="music.amazon.eg" />
                <data android:host="amzn.to" />
                <data android:host="amzn.eu" />
                <data android:host="amzn.asia" />
                <data android:host="a.co" />
            </intent-filter>

            <!-- SoundCloud URL Interception -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="http" />
                <data android:scheme="https" />
                <data android:host="soundcloud.com" />
                <data android:host="m.soundcloud.com" />
                <data android:host="on.soundcloud.com" />
            </intent-filter>

            <!-- Bandcamp URL Interception -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="http" />
                <data android:scheme="https" />
                <data android:host="bandcamp.com" />
                <data android:host="*.bandcamp.com" />
            </intent-filter>

            <!-- Shazam URL Interception -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="http" />
                <data android:scheme="https" />
                <data android:host="shazam.com" />
                <data android:host="www.shazam.com" />
            </intent-filter>
        </activity>

        <!-- Quick Settings Tile Service -->
        <service
            android:name=".service.SongFlipTileService"
            android:exported="true"
            android:icon="@drawable/ic_qs_tile"
            android:label="@string/tile_name"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>

    </application>

</manifest>
